/*whole page*/
body{
	margin: 0px;
}

/*header*/
header{
    background: #f76264;
}
header .container .banner{
    display: flex;
    justify-content: space-between;
}
header .container .banner .Home{
    margin: 20px;
}
header .container .banner .Titel{
    margin: 20px;
}
header .container .banner .Login{
	margin: 20px;
}
header .container a{
	background-color: orange;
}
a {
    text-decoration: none;
    color: black;
}







/*main*/




/*footer*/
footer{
    background: #f76264;
}
footer h2{
	text-align: center;
	height: 100px;
}